* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: burlywood;
}

.established {
    font-style: italic;
    text-align: center;
}

.menu {
    background-color:rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: brown;
    font-size: 30px;
    margin-top: 10px;
}

h3, p, li {
    color: rgb(73, 137, 186)
}

ul {
    list-style: none;
}
  
li {
    padding-left: 1em;
    text-indent: -1em;
}
  
li:before {
    content: "◦";
    padding-right: 5px;
}